@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	color: rgba (0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	top: 15%;
	background: linear-gradient(to right, red, yellow);
}

h1 {
	font-weight: 600;
	font-size: 3.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}

/* .color_random {
	appearance: square-button;
	width: 44px;
	height: 23px;
	background-color: yellow;
	cursor: default;
	color: red;
	border-width: 1px;
	border-style: solid;
	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	border-image: initial;
	padding: 1px 2px;
} */

.color_random {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 27px;
	color: black;
	font-size: 11px;
	background-color: lightblue;
	border: 2px red groove;
	padding: 3px;
	margin-left: 23px;
}
