/* * {
	box-sizing: border-box;
} */

body {
	margin: 0;
	text-align: center; /* Centering everthing in the body*/
	font-family: 'Merriweather', serif;
}
/* color palette: https://colorhunt.co/palette/212984 */

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 5.625rem;
	margin: 50px auto 0 auto;
	color: #66bfbf;
	width: 50%;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	margin-top: 0;
	font-weight: normal;
	/* line-height: 2; */
	color: #66bfbf;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #11999e;
}

.desktop {
	display: inline-block;
	width: 200px;
}

.top-container {
	background-color: #f1f6f9;
	position: relative;
	padding-top: 100px;
}

.middle-container {
}

.middle-container img {
	width: 20%;
}

.bottom-container {
}

/* .bottom-container img {
	width: 25%;
} */

.skill-row {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
}

.pro {
	text-decoration: underline;
}

.bottom-cloud {
	position: absolute;
	left: 180px;
}

.top-cloud {
	position: absolute;
	top: 50px;
	right: 150px;
}

.desktop {
	width: 25%;
	float: left;
	margin-right: 30px;
}

.clarinet {
	width: 25%;
	float: right;
	margin-left: 30px;
}

/* .dev-bio {
	clear: left;
}

.music-bio {
	clear: right;
} */
