* {
	box-sizing: border-box;
}

body {
	color: #40514e;
	margin: 0;
	text-align: center; /* Centering everthing in the body*/
	font-family: 'Merriweather', serif;
}
/* color palette: https://colorhunt.co/palette/212984 */

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 5.625rem;
	margin: 50px auto 0 auto;
	color: #66bfbf;
	width: 50%;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 500;
	margin-top: 0;
	font-weight: bold;
	color: #66bfbf;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #11999e;
}

p {
	line-height: 2;
}

hr {
	border-color: #8eeeee;
	border-style: dotted;
	border-bottom: none;
	border-width: 7px;
	width: 5%;
	margin: 100px auto;
}

.hr {
	display: inline-block;
	margin: 45px;
}

.desktop {
	display: inline-block;
	width: 200px;
}

.top-container {
	background-color: #eaf6f6;
	position: relative;
	padding-top: 100px;
}

.middle-container {
	margin: 100px 0 20px 0;
	color: #40514e;
}

.middle-container img {
	width: 20%;
}

.my-skills {
	margin-bottom: 0;
}

.skill-row {
	width: 50%;
	margin: 60px auto 60px auto;
	text-align: left;
	line-height: 2;
}

.pro {
	text-decoration: underline;
}

.intro {
	width: 35%;
	margin: 40px auto 60px;
}

.contact-paragraph {
	margin-bottom: 50px;
}

.contact-me {
	width: 40%;
	margin: 50px auto 50px auto;
}

.bottom-cloud {
	position: absolute;
	left: 180px;
}

.top-cloud {
	position: absolute;
	top: 50px;
	right: 150px;
}

.desktop {
	width: 25%;
	float: left;
	margin-right: 30px;
}

.clarinet {
	width: 25%;
	float: right;
	margin-left: 30px;
}

.hr2 {
	margin-bottom: 58px;
}

.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
}

.footer {
	background-color: #66bfbf;
	margin: ;
}

.footer-link {
	display: inline-block;
	text-decoration: none;
	margin-top: 20px;
	padding: 10px;
	color: #11999e;
	font-family: 'Montserrat', sans-serif;
}

div.footer p {
	color: white;
	font-family: 'Merriweather', serif;
	padding-bottom: 30px;
	font-size: 13px;
}

a:hover {
	color: #eaf6f6;
}

.copyright {
	margin: 20px auto 0 auto;
}
