/* * {
	box-sizing: border-box;
} */

body {
	margin: 0;
	text-align: center; /* Centering everthing in the body*/
}
/* color palette: https://colorhunt.co/palette/212984 */

h1 {
	margin: 0;
}

.top-container {
	background-color: #f1f6f9;
	position: relative;
	padding-top: 100px;
}

.middle-container {
	background-color: orange;
	margin: 10px 0 0;
	width: 200px;
	height: 200px;
}

.bottom-container {
	background-color: lightblue;
	width: 200px;
	height: 200px;
}

.pro {
	text-decoration: underline;
}

.bottom-cloud {
	position: absolute;
	left: 180px;
}

.top-cloud {
	position: absolute;
	top: 50px;
	right: 150px;
}
